<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application><activity android:name=".FixtureActivity" android:exported="false" /><provider android:name=".SourceFixtureProvider" android:authorities="${applicationId}.source-fixtures" android:exported="false" android:grantUriPermissions="true" /></application>
</manifest>
