<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="generated-page-fixture-1">
    <application>
        <activity android:name="dev.mote.collector.ExternalFixtureActivity" android:exported="true" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
